body {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: white;
    text-shadow: 1px 0.36px 0.36px #11b2e7;
}

h2 {
    margin-top: 0;
}

a {
    text-decoration: none;
    color: white;
}

img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

#faceTracker {
    position: absolute;
    z-index: -1;
}

.infoSize {
    width: 640px;
    height: 480px;
    overflow: hidden;
}

.bluebox {
    padding: 1rem;
    background-color: rgba(17, 178, 231, 0.25);
    display: inline-block;
}