body {
  background-color: black;
  color: white;
  font-family: 'Work Sans', sans-serif;
}


h2 {
  font-size: 32px;
  font-weight: bold;
  padding-bottom: 20px;
}

h1 {
  font-weight: bold;
}

h4 {
  font-weight: bold;
  font-size: 2em;
  padding: 20px 10px;
}
.fml {
  text-align: left;
  float: right;
  font-size: 1.5em;
  font-weight: bold;
}
.car {
  width: 350px;
}
.free {
  position: absolute;
  font-size: 48px;
  font-weight: bold;
  transform: translate(250px ) rotate(-25deg);

}
.textb {
  position: absolute;
  bottom: 70px;
  right: 0;
  left: 0;
}

.carbutton {
  position: absolute;
  width: 200px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 25px;
  border: solid white 2px;
  padding: 10px;
}

/* Container Border */
.popbox {
  margin: 15px;
  width: 1080px;
  height: 550px;
  position: relative;
  border: solid white 2px;
  text-align: center;
}

.topbar {
width: auto;
border-bottom: solid white 2px;
padding: 10px 5px;
text-align: left;
margin-bottom: 20px;
}

.closebtn {
color: white;
text-decoration: none;
background-color: black;
border: none;
font-size: 1em;
margin: 0 15px;



}
.forumbox {
  padding: 10px 20px;
  font-size: 1.75em;
  border: solid white 2px;
  width: 600px;
  margin-bottom: 25px;
  text-align: left;
}

.forumcontainer {
  margin-left: auto;
  margin-right: auto;
}

.socialicon {
  width: 25%;
  float: right;
  margin-right: 50px;
}

.netflix_title {
  background-color: red;
  padding-top: 20px;
  margin-top: -20px;
}

.netflixlogo{
  width: 20%;
  position: absolute;
  right: 30px;
  bottom: 20px;
}
